* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(11, 11, 11);
    font-style: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
  }
  
  navbar {
    background-color: rgb(17, 17, 17);
    width: 1024px;
    height: 1366px;
    box-sizing: border-box;
    /* flex-wrap: nowrap; */
    border: hidden;
    display: grid;
  
  
  
  
  }
  
  
  
  .search {
    display: flex;
    width: 200px;
    border-radius: 10px;
    height: 30px;
    /* / */
    font-weight: bold;
    /* margin-: 20px; */
  
  }
  
  .search .icon-button {
    width: 40px;
  }
  
  
  
  
  nav img {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
  
  }
  
  
  .icon-container {
    color: #d8d8d5;
    margin-left: 22px;
    width: -30px;
  
    margin-top: 0px;
    height: -23px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
  
  
  
  }
  
  .icon-container:hover {
    color: #fefbfb;
  
  }
  
  
  .ion-button {
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
    border: hidden;
    background-color: #f6f9f7;
    color: #383837;
  
  }
  .psd{
    display: flex;
  
  }
  
  
  
  .first {
    display: flex;
    background-color: rgb(28, 28, 28);
    flex-direction: row;
    height: 68px;
    align-items: center;
    gap: 4px;
    flex-wrap: nowrap;
  
    /* padding: 16px; */
  
  }
  
  .first a {
    gap: 5px;
    font-size: smaller;
  }
  
  .installlogo {
    display: flex;
    background-color: rgb(28, 28, 28);
    flex-direction: row;
    height: 70px;
    align-items: center;
    gap: 0px;
    margin-left: 10px;
  }
  
  .signup {
    display: flex;
    background-color: rgb(28, 28, 28);
    flex-direction: row;
    height: 70px;
    align-items: center;
    gap: 5px;
    margin-left: 0px;
  
  }
  
  
  
  .first input {
    cursor: pointer;
    content: "Browser";
    width: 208px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: xx-small;
    
  
  
  }
  
  .icon-button {
    position: absolute;
  
    border: 2px solid black;
    margin-left: 153px;
    margin-top: 7px;
    border: hidden;
  }
  
  .second li {
    display: flex;
    list-style: none;
  
  
  }
  
  .btn {
    font-weight: bolder;
    font-size: medium;
    text-decoration: none;
    color: rgb(174, 172, 172);
  
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    width: 90px;
    height: 30px;
  
    border-color: rgb(70, 70, 147);
    color: rgb(7, 14, 6);
    margin-top: 3px;
    cursor: pointer;
    border: 2px solid rgb(165, 161, 161);
  
    align-items: center;
    margin-left: 10px;
  
  }
  
  
  
  
  
  .btn1 {
    display: flex;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: medium;
    text-decoration: none;
    color: rgb(174, 172, 172);
  
    border-radius: 40px;
    width: 150px;
    height: 47px;
  
    border-color: blue;
    color: black;
  
    cursor: pointer;
    text-align: center;
    justify-content: center;
    padding: 15px;
  
    float: right;
    margin-right: 40px
  }
  .first {
    display: flex;
    background-color: rgb(28, 28, 28);
    flex-direction: row;
    height: 68px;
    align-items: center;
    gap: 4px;
    flex-wrap: nowrap;
  }
  .first a {
    gap: 5px;
    font-size: smaller;
  }